.ion-padding-top {
  padding-top: 60px; 
}

.fab-margin {
  margin-top: 50px; 
}

.welcome-container {
  text-align: center;
  padding: 20px;
}

.welcome-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/*
.card-container ion-card {
  margin-bottom: 60px; 
}
*/