.unread-indicator {
  background: var(--ion-color-primary);

  width: 10px;
  height: 10px;

  border-radius: 100%;

  position: absolute;

  inset-inline-start: 12px;
  top: 12px;
}

.metadata-end-wrapper {
  position: absolute;

  top: 10px;
  inset-inline-end: 10px;

  font-size: 0.8rem;

  display: flex;
  align-items: center;
}

ion-label strong {
  display: block;

  max-width: calc(100% - 60px);

  overflow: hidden;

  text-overflow: ellipsis;
}

ion-label ion-note {
  font-size: 0.9rem;
}

.header-container {
  margin-top: 15px; /* Agrega espacio superior para separar del MenuIcon */
  padding: 5px; /* Agrega espacio alrededor del contenedor del título */
}

.page-title {
  font-size: 24px; /* Ajusta el tamaño del título */
  font-weight: bold; /* Aplica negrita al título */
  color: #333; /* Color del título */
}

.divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}

.noIncidencias{
  text-align: center;
  color: red;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}
